<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Classy Login form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href="../../static/css/style.css"  th:href="@{/static/css/style.css}" rel="stylesheet" type="text/css">


    <!--    <link rel="stylesheet" href="../../static/CSS/style.css">-->

</head>
<body>
<div class="header">
    <div class="header-main">
        <h1>Sign In</h1>
        <div class="header-bottom">
            <div class="header-right w3agile">

<!--                <div class="header-left-bottom agileinfo">-->

<!--                    <form th:action="@{/login}" method="post">-->
<!--&lt;!&ndash;                        <input type="text"  value="User name" name="name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="password"  value="Password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}"/>&ndash;&gt;-->
<!--                        <div class="remember">-->
<!--			             <span class="checkbox1">-->
<!--							   <label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>Remember me</label>-->
<!--						 </span>-->
<!--                            <div class="forgot">-->
<!--                                <h6><a href="#">Forgot Password?</a></h6>-->
<!--                            </div>-->
<!--                            <div class="clear"> </div>-->
<!--                        </div>-->

<!--                        <input type="submit" value="Login">-->
<!--                    </form>-->
                    <div class="header-left-top">
                        <div class="sign-up"> <h2>or</h2> </div>

                    </div>
                    <input type="submit" value="Register">

                </div>
            </div>

        </div>
    </div>
</div>
<div class="copyright">
    <p>@C0823H1 WITH LOVE </p>
</div>
</body>
</html>