<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>REGISTER</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<form th:object="${users}" th:action="@{/register}" method="post">
    <label>
        <div th:if="${param.success}">
            <div class="alert alert-info">
                You have successfully registered our app!
            </div>
        </div>
    </label>
    <label>
        <p class="label-txt">ENTER USERNAME</p>
        <input type="text" class="input" th:field="${users.username}">
        <p th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">ENTER YOUR PASSWORD</p>
        <input type="text" class="input" th:field="${users.password}">
        <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">ENTER EMAIL</p>
        <input type="text" class="input" th:field="${users.email}">
        <p th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">ENTER YOUR NAME</p>
        <input type="text" class="input" th:field="${users.name}">
        <p th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></p>
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">ENTER YOUR AGE</p>
        <input type="text" class="input" th:field="${users.age}">
        <p th:errors="*{age}" th:if="${#fields.hasErrors('age')}"></p>
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">ENTER YOUR PHONE</p>
        <input type="text" class="input" th:field="${users.phone}">
        <p th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}"></p>
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <button type="submit">submit</button>
    <button type="button" onclick="window.location.href='/login'">Login here</button>

</form>
</body>
</html>
