<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>REGISTER</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
<form th:object="${users}">
    <label>
        <p class="label-txt">ENTER USERNAME</p>
        <input type="text" class="input" th:field="${users.username}">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">ENTER YOUR PASSWORD</p>
        <input type="text" class="input" th:field="${users.password}">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">ENTER EMAIL</p>
        <input type="text" class="input" th:field="${users.email}">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">ENTER YOUR NAME</p>
        <input type="text" class="input" th:field="${users.name}">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">ENTER YOUR AGE</p>
        <input type="text" class="input" th:field="${users.age}">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">ENTER YOUR PHONE</p>
        <input type="text" class="input" th:field="${users.phone}">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <button type="submit">submit</button>
</form>
</body>
</html>
